.breadcrumb {
	display: flex;
	margin-left: 125px;
	margin-top: 15px;
	align-items: center;
	font-size: 14px;
	gap: 5px;
	font-weight: 500;
}
.breadcrumb img {
	width: 5px;
}

@media (max-width: 500px) {
	.breadcrumb {
		margin-left: 50px;
		font-size: 10px;
	}
	.breadcrumb img {
		width: 5px;
	}
}
