.navbar {
	display: flex;
	justify-content: space-around;
	padding: 16px;
	box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.nav-logo p {
	font-size: 25px;
	color: #171717;
	font-weight: 600;
}
.nav-menu {
	display: flex;
	list-style: none;
	align-items: center;
	gap: 50px;
	font-size: 19px;
	font-weight: 500;
	color: #626262;
}

.nav-menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 3px;
}
.nav-menu hr {
	border: none;
	width: 80%;
	height: 3px;
	border-radius: 3px;
	background-color: #ff4141;
}

.nav-login-cart {
	display: flex;
	align-items: center;
	gap: 45px;
}

.nav-login-cart button {
	width: 125px;
	height: 40px;
	font-size: 15px;
	color: #515151;
	outline: none;
	border: 1px solid #7a7a7a;
	font-weight: 500;
	background-color: white;
	border-radius: 75px;
	cursor: pointer;
}
.nav-login-cart button:active {
	background-color: #f3f3f3;
}

.nav-login-cart img {
	width: 35px;
	height: 35px;
	opacity: 0.6;
}

.nav-cart-count {
	position: absolute;
	width: 22px;
	height: 22px;
	margin-top: -45px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: red;
	border-radius: 11px;
}
