.new-collections {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.new-collections h1 {
	color: #171717;
	font-size: 30px;
	font-weight: 600;
}

.new-collections hr {
	width: 200px;
	height: 6px;
	border-radius: 5px;
	background: #252525;
}

.collections {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

@media (max-width: 1024px) {
	.collections {
		gap: 45px;
	}
}
@media (max-width: 800px) {
	.collections {
		gap: 55px;
	}
}
@media (max-width: 500px) {
	.new-collections {
		gap: 0px;
	}
	.collections {
		gap: 20px;
	}
	.new-collections h1 {
		font-size: 15px;
	}

	.new-collections hr {
		width: 100px;
		height: 3px;
	}
}
